.menu-item .label {
    -fx-text-fill: white;
}
.menu-item:disabled {
    -fx-background-color: #484b56;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #1f2025;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.utility-buttons {
	-fx-background-color: none;
}

.utility-buttons:hover {
	-fx-background-color: red;
}

.topbar {
	-fx-background-repeat: no-repeat;
	-fx-background-size: auto;
	-fx-background-color: none;
	-fx-background-image: url("topbar.png");
}

#minimize {
	-fx-background-position: -0px, 0px;
}
#minimize:hover {
	-fx-background-position: -60px, 0px;
}

#maximize {
	-fx-background-position: -20px, 0px;
}
#maximize:hover {
	-fx-background-position: -80px, 0px;
}

#close {
	-fx-background-position: -40px, 0px;
}
#close:hover {
	-fx-background-position: -100px, 0px;
	-webkit-filter: brightness(1);
}